<div class="page-header">
  <h1><%= @user.name %></h1>
</div>

<% if @messages %>
  <% @messages.each do |message| %>
    <div class="well">
      <%= message.message %>
      <br>
      <% link_to time_ago_in_words(message.created_at), message_path(message) %> ago
    </div>
  <% end %>
<% end %>
